html, body { }
body { color: #555; margin: 0; padding: 0; width: 100%; font-family: 'Open Sans',sans-serif; position: relative; font-weight: 300; overflow-x: hidden; overflow-y: auto; }
body.min{padding-top: 300px;}
::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track-piece {background-color: #fff;}
::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: #ccc; }
* { -moz-transition: background-color 0.1s ease-in-out; -ms-transition: background-color 0.1s ease-in-out; -o-transition: background-color 0.1s ease-in-out; -webkit-transition: background-color 0.1s ease-in-out; transition: background-color 0.1s ease-in-out; }
[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
 /* Animations */
 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
@-webkit-keyframes fadeOut {
    0% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
 }

@keyframes fadeOut {
    0% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
 }
/* */
a { color: inherit }
a:hover, a:visited {}
a, a:hover, a:visited { text-decoration: none; cursor: pointer; }
/* Colors */
.red { color: #fc3d39 }
.darkred { color: #e33437 }
.green { color: #53d769 }
.darkgreen { color: #46c263 }
.blue { color: #5ba4fc }
.darkblue { color: #5897ee }
.cyan { color: #39f7fc }
.darkcyan { color: #02b3d5 }
.purple { color: #6c36f6 }
.yellow { color: #fdd13b }
.darkyellow { color: #feae00 }
.pink { color: #d753c0 }
.darkpink { color: #c246a4 }
.white,a.white,a.white:visited {color: #999;}
a.white:hover{color:#222}
.textXL { font-size: 32px; font-weight: 100; line-height: 1em; margin: 0.6em 0; }
.textXXL { font-size: 41px; font-weight: 100; }
body {background-color: #eee;}
#header { width: 100%; padding: 0;height: 386px; text-align: center; max-width: 100%; display: block; background-color:#eee;}
#header #hamburger {color: #999; position: fixed;top: 0px; left: 0; z-index: 10; cursor: pointer;padding: 13px 10px 7px;}
#header #headerContent { position: static; margin: 0; width: 100%;padding: 0; box-sizing: border-box; float: left;}
#header .links { float: right;margin: 11px auto 60px; list-style: none; padding: 5px 10px; display: inline-block; background-color: transparent;color: #ccc; font-weight:400}
#header .links li { display: inline-block; text-shadow: none; }
#header .links li a{font-weight:400}
#header .brand {margin: 46px auto 24px; width: 100%; display: block;}
#header #brandMin {display: none;}
#header #brandMin img{height: 48px;}

body.min #header {height: 48px; max-width: 100%; background-color: #eee; position: fixed; top: 0; left: 0; z-index: 99; border-top: none;}
body.min #header #hamburger {background-color:rgba(0,0,0,0.05)}
body.min #header #headerContent { position: static;width: 100%;height: 100%;margin: 0 auto 0;max-width: 960px;padding: 0 10px; float: none}
body.min #header .links { display: none;}
body.min #header .brand {display: none;}
body.min #header #try-it-now{display: none}   
body.min #header #brandMin{height: 50px; display: block; float: left;margin: 0;width: 100%;
-webkit-animation-duration: 0.8s;
animation-duration: 0.8s;
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}
.section { width: 100%; background-color: #fff; padding: 0; margin: 0; float: left; }
.content { max-width: 100%; margin: 0px auto 50px; box-sizing: border-box;padding: 0 15px;}
.content .menu { display: none }
.menu { display: inline-block; padding-top: 0px; padding-bottom: 0px; }
.menu li { list-style: none }
.menu li a { color: #aaa; font-weight: 400; cursor: pointer; }
.menu li a:hover { color: #000 }
.menu li.selected a { color: #666 }
.menu li a { display: block; padding: 5px 0; }
#menuFixed { position: fixed; top: 0; left: 0; z-index: 30; background-color: #fff; height: 100%; padding: 0 20px 0 0;max-width: 70%;}
body.min #menuFixed{top:47px}
#menuFixed .menu { width: auto; max-width:100%;height: 100%;overflow-x: hidden;overflow-y: auto;}
#menuFixed .menu ul { padding: 20px; margin: 0; max-width:100%;}
#menuFixed .menu ul li { }
#menuFixed .menu ul li a { padding: 8px 0;}
#blackBG { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 29; background-color: rgba(0,0,0,0.4); }
.content article { padding-bottom: 20px; font-size: 13px; }
.section#footer { background-color: #f9f9f9; padding: 0px 0 0; margin: 0; float: left; color: #333; border-top: 1px solid #eee; border-bottom: 4px solid #eee; text-align: center;}
.section#footer .content { margin: 0 auto 0 }
#container { margin: 0 auto 0 }
.both{clear: both}

/* Github CSS */
.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre { color: #183691 }
.markdown-body h1,.markdown-body h2 { padding-top: 23px; padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom: 1px solid #eee; margin-top: 25px; display: block; }
.markdown-body h1 a:hover,.markdown-body h2 a:hover{color:inherit}
body.min .section{padding-top:20px}
body.min .markdown-body h1, body.min .markdown-body h2 {padding-top:85px}
.markdown-body a{color:#666;}
.markdown-body a:hover{color:#000;}
.markdown-body h3{margin: 25px 0 10px;border-bottom: 1px solid #f6f6f6;padding-bottom: 8px;}
.markdown-body h4 {margin: 10px 0;}
.markdown-body h4 a{font-weight: 300; }
.markdown-body .highlight pre, .markdown-body pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; background-color: #f7f7f7; border-radius: 3px; }
/* */
.main-header-btn { transition: all 0.4s; padding: 9px 20px 10px; vertical-align: top; cursor: pointer; border: 1px solid rgba(255,255,255,0.2); border-radius: 3px; text-decoration: none; -webkit-tap-highlight-color: transparent; -webkit-animation: fadein 2s; -ms-animation: fadein 2s; animation: fadein 2s; text-shadow: none; color: #333; background-color: #ddd; font-size: 18px; display: inline-block;}
.main-header-btn:hover { box-shadow: 0 0 50px rgba(255,255,255,0.1); background-color: #ccc; }

.btn{border:1px solid #ddd;padding: 9px 18px;border-radius: 5px;font-weight: 400;display: inline-block;}
.btn:hover{background-color:#eee}
.floatRight{float: right;}

.gif{max-width: 100%; border: 1px solid #eee; box-sizing:border-box;}

@media screen and (min-width:24em) { 
    #header {}
    #header .brand {max-width: 100%;}
    #header .links {margin: 11px auto 0; float: none;}
}
@media screen and (min-width:28em) { 
    #header {}
    #header .brand {max-width: 460px;margin-top: 40px;margin-bottom: 10px;}
    .content article { font-size: 15px }
}
@media screen and (min-width:35.5em){
    body.min #header #brandMin{height: 48px; display: block; float: left;margin: 0px 0 0 48px;width: auto;}
    body.min #header .links { float: right;margin: 7px 0 0; list-style: none;padding: 5px 0;background-color: transparent; display: block;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;}
    body.min #header .links li { display: inline-block; text-shadow: 1px 0px 1px rgba(0,0,0,.1); }
}
@media screen and (min-width: 48em) { 
    body.min #header #brandMin{margin: 0;}
    #header {}
    #header .brand {max-width: 542px;margin-top: 30px;}
    #header #headerContent { position: absolute; top: 0; left: 50%; margin: 0 0 0 -300px; z-index: 8; width: 600px; }
    .content { max-width: 960px; margin: 0px auto 50px; }
    #header #hamburger { display: none }
    #menuFixed { display: none }
    #blackBG { display: none }
    .content .menu { display: inline-block; float: left;width: 20%; padding-top: 25px; padding-bottom: 25px;}
    body.min .content .menu {padding-top: 90px;}
    .content .menu ul { padding: 0; box-sizing: border-box; padding-right: 10px; }
    .content article { display: inline-block;width: 80%; float: left;}
    .markdown-body h1,.markdown-body h2 { padding-top: 20px }
}
@media screen and (min-width: 64em) {
    body.min #header #headerContent {padding:0}
    .content { padding: 0 }
}
/* Before and after plugin */
.balinks { display: none }
#beforeafter { position: absolute; z-index: 2; top: 0; left: 50%; margin: 0 0 0 -512px; display: none; }
@media screen and (min-width: 64em) {
    body.min #beforeafter { display: none}
    #beforeafter.fadeout,
    #try-it-now.fadeout  {
    display: none;}
    #beforeafter { display: block }
    #header { background: none }
}

#header {background-color: #eee; }
body.min #header {background-color: #eee; border-top: none;}
